<div class="col-xs-12">
	<div class="step-title">
		<em>*</em>晒图申请表
	</div>

	<table class="table table-bordered status-bar">
		<tr>
			<td class="lb" style="width:100px;">项目名称</td>
			<td colspan="2">{{formData.project_name}}</td>
			<td rowspan="2" class="text-center">
				<img class="img-thumbnail mini" ng-src="{{formData.user.avatar}}">
				<div>{{formData.user.nick}}</div>
			</td>
		</tr>
		<tr>
			<td class="lb">主项名称</td>
			<td colspan="2">{{formData.name}}</td>
		</tr>
		<tr>
			<td class="lb">主项编号</td>
			<td>{{formData.no}}</td>
			<td class="lb" style="width:100px;">专业</td>
			<td>{{formData.subject_name}}</td>
		</tr>
		<tr>
			<td class="lb">图号</td>
			<td>{{formData.drawing_no}}</td>
			<td class="lb">自然张</td>
			<td>{{formData.zrz}}</td>
		</tr>
		<tr>
			<td class="lb">份数</td>
			<td>{{formData.quantity}}</td>
			<td class="lb">折合A1</td>
			<td>{{formData.a1}}</td>
		</tr>

		<tr>
			<td class="lb"><span>项目经理</span></td>
			<td ng-class="{'success': activeData.finish_xmjl, 'active': activeData.is_xmjl}">
				<i class="fa fa-circle"></i>
				<span ng-if="activeData.is_xmjl">{{formData.xmjl_user.nick}}</span>
				<span ng-if="activeData.finish_xmjl"><br/>{{formData.xmjl_sign_at_string}}</span>
				<a class="do-sign" ng-click="showDialog('xmjl')">签字</a>
				<a class="do-unsign mgl-10" ng-click="sign('xmjl', false)">撤销</a>
			</td>

			<td class="lb"><span>技术部</span></td>
			<td ng-class="{'success': activeData.finish_js, 'active': activeData.is_js}">
				<i class="fa fa-circle"></i>
				<span ng-if="activeData.is_js">{{formData.js_user.nick}}</span>
				<span ng-if="activeData.finish_js"><br/>{{formData.js_sign_at_string}}</span>
				<a class="do-sign" ng-click="showDialog('js')">签字</a>
				<a class="do-unsign mgl-10" ng-click="sign('js', false)">撤销</a>
			</td>
		</tr>
		
		<tr>
			<td class="lb"><span>制图部</span></td>
			<td ng-class="{'success': activeData.finish_zt, 'active': activeData.is_zt}">
				<i class="fa fa-circle"></i>
				<span ng-if="activeData.is_zt">{{formData.zt_user.nick}}</span>
				<span ng-if="activeData.finish_zt"><br/>{{formData.zt_sign_at_string}}</span>
				<a class="do-sign" ng-click="showDialog('zt')">签字</a>
				<a class="do-unsign mgl-10" ng-click="sign('zt', false)">撤销</a>
			</td>

			<td class="lb"><span>项目管理</span></td>
			<td ng-class="{'success': activeData.finish_xmgl, 'active': activeData.is_xmgl}">
				<i class="fa fa-circle"></i>
				<span ng-if="activeData.is_xmgl">{{formData.xmgl_user.nick}}</span>
				<span ng-if="activeData.finish_xmgl"><br/>{{formData.xmgl_sign_at_string}}</span>
				<a class="do-sign" ng-click="showDialog('xmgl')">签字</a>
				<a class="do-unsign mgl-10" ng-click="sign('xmgl', false)">撤销</a>
			</td>
		</tr>

		<tr>
			<td class="lb"><span>商务部</span></td>
			<td ng-class="{'success': activeData.finish_sw, 'active': activeData.is_sw}">
				<i class="fa fa-circle"></i>
				<span ng-if="activeData.is_sw">{{formData.sw_user.nick}}</span>
				<span ng-if="activeData.finish_sw"><br/>{{formData.sw_sign_at_string}}</span>
				<a class="do-sign" ng-click="showDialog('sw')">签字</a>
				<a class="do-unsign mgl-10" ng-click="sign('sw', false)">撤销</a>
			</td>
			<td></td>
			<td></td>
		</tr>

		<tr ng-show="isCurrentUser">
			<td colspan="4" class="text-right">
				<a href="/drawing/form/{{formData.id}}"><i class="fa fa-edit"></i> 修改</a>
			</td>
		</tr>
	</table>
</div>

<div id="draw-sign-dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{formData.project_name}} {{formData.name}}</h4>
			</div>
			<div class="modal-body text-center">
				<table>
					<tr>
						<td width="120"><img ng-src="{{currentUser.avatar}}" alt="" class="img-thumbnail mini"><br/></td>
						<td>
							<h3>{{currentSignTitle}} {{currentUser.nick}}</h3>
							<label ng-show="currentType=='zt'">制图时间：
								<select>
									<option value="1">1天</option>
									<option value="2">2天</option>
									<option value="3" selected="selected">3天</option>
									<option value="4">4天</option>
									<option value="5">5天</option>
									<option value="6">6天</option>
									<option value="7">7天</option>
									<option value="8">8天</option>
									<option value="9">9天</option>
									<option value="10">10天</option>
								</select>
							</label>
								
						</td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary">签字同意</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
