<div class="col-xs-12">
	<div class="step-title">
		<em>*</em>晒图申请表
	</div>

	<table class="table table-bordered">
		<tr>
			<td class="lb" style="width:100px;">项目名称</td>
			<td colspan="2">{{formData.project_name}}</td>
			<td rowspan="2" class="text-center">
				<img class="img-thumbnail mini" ng-src="{{formData.user.avatar}}">
				<div>{{formData.user.nick}}</div>
			</td>
		</tr>
		<tr>
			<td class="lb">主项名称</td>
			<td colspan="2">{{formData.name}}</td>
		</tr>
		<tr>
			<td class="lb">主项编号</td>
			<td>{{formData.no}}</td>
			<td class="lb" style="width:100px;">专业</td>
			<td>{{formData.subject_name}}</td>
		</tr>
		<tr>
			<td class="lb">图号</td>
			<td>{{formData.drawing_no}}</td>
			<td class="lb">自然张</td>
			<td>{{formData.zrz}}</td>
		</tr>
		<tr>
			<td class="lb">份数</td>
			<td>{{formData.quantity}}</td>
			<td class="lb">折合A1</td>
			<td>{{formData.a1}}</td>
		</tr>
		<tr ng-show="isCurrentUser">
			<td colspan="4" class="text-right">
				<a href="/drawing/form/{{formData.id}}"><i class="fa fa-edit"></i> 修改</a>
			</td>
		</tr>
	</table>

	<div class="status-bar clearfix mgb-50">
		<div ng-class="{'success': formData.is_xmjl_sign}">
			<i class="fa fa-circle"></i>
			<span>项目经理</span>
			<span ng-if="formData.is_xmjl_sign">：{{formData.xmjl_user.nick}}</span>
		</div>
		<div ng-class="{'success': formData.js_user}">
			<i class="fa fa-circle"></i>
			<span>技术部</span>
			<span ng-if="formData.js_user">：{{formData.js_user.nick}}</span>
		</div>
		<div ng-class="{'success': formData.xmgl_user}">
			<i class="fa fa-circle"></i>
			<span>项目部</span>
			<span ng-if="formData.xmgl_user">：{{formData.xmgl_user.nick}}</span>
		</div>
		<div ng-class="{'success': formData.sw_user}">
			<i class="fa fa-circle"></i>
			<span>商务部</span>
			<span ng-if="formData.sw_user">：{{formData.sw_user.nick}}</span>
		</div>
		<div ng-class="{'success': formData.zt_user}">
			<i class="fa fa-circle"></i>
			<span>制图</span>
			<span ng-if="formData.zt_user">：{{formData.zt_user.nick}}</span>
		</div>
	</div>

	<a class="btn btn-primary btn-block btn-lg" ng-if="action && !action.is_sign" ng-click="sign()">
		<i class="fa fa-user"></i>
		{{currentUser.nick}} - {{action.title}} 签字同意
	</a>

	<a class="btn btn-default" ng-if="action && action.is_sign" ng-click="unsign()">{{currentUser.nick}} - {{action.title}} 撤销签字</a>
</div>