.gos-list-item.odd{
	background-color: #FFFFFF;
}

.gos-form-inline{
	&>.form-group{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

#gos-drawing{
	.ico{
		top:45px;
		&.is-avatar{
			top:15px;
		}
		img{
			max-width: 50px;
			max-height: 50px;
			padding: 2px;
			.Border(1px, 50%, @border-color);
		}
	}
}

#drawing-view-button-div{
	&>div{
		float: left;
		text-align: center;
		margin-left: 20px;
		min-width: 200px;
		padding-top: 20px;
		padding-bottom: 20px;
		p{
			padding-top: 5px;
		}
	}
}

div.status-bar>div{
	width: 19.9%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.do-unsign,.do-sign{
	display: none;
}
.status-bar{
	.disable-unsign{
		display: none!important;
	}
	
	.success .fa-circle{
		color: @theme-color!important;
	}
	.fa-circle{
		color: @border-color;
	}
	.active .fa-circle{
		color: @warning-color;
	}

	.success{
		.do-unsign{
			display: none;
		}
	}

	.active{
		.do-sign{
			display: inline;
		}
	}
	.active.success .do-sign{
		display: none;
	}
	.active.success .do-unsign{
		display: inline;
	}
}

.drawing-form{
	input, select{
		width:50%;
		min-width: 360px;
	}
}

#draw-sign-dialog{
	background-color: #CCCCCC;

	div.modal-dialog{
		top: 200px;
	}
}

